[submodule "jedis"]
	path = jedis
	url = https://github.com/dojot/jedis
[submodule "ma-communication"]
	path = ma-communication
	url = https://github.com/dojot/ma-communication
[submodule "ma-registryclient"]
	path = ma-registryclient
	url = https://github.com/dojot/ma-registryclient
[submodule "ma-loggingapi"]
	path = ma-loggingapi
	url = https://github.com/dojot/ma-loggingapi
[submodule "ma-libjcrypto"]
	path = ma-libjcrypto
	url = https://github.com/dojot/ma-libjcrypto
[submodule "ma-libaes-c"]
	path = ma-libaes-c
	url = https://github.com/dojot/ma-libaes-c
[submodule "ma-kerberos"]
	path = ma-kerberos
	url = https://github.com/dojot/ma-kerberos
[submodule "ma-crypto"]
	path = ma-crypto
	url = https://github.com/dojot/ma-crypto
[submodule "ma-serviceregistry"]
	path = ma-serviceregistry
	url = https://github.com/dojot/ma-serviceregistry
